openapi: 3.0.1
info:
  title: Orbit Activities Members API
  version: v1
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
servers:
- url: http://web.archive.org/web/20240303060821/https://app.orbit.love/api/v1
tags:
- name: Members
paths:
  /{workspace_slug}/members/{member_slug}/identities:
    post:
      summary: Add identity to a member
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: success
          content:
            application/json:
              example:
                data:
                  id: 1adTJn
                  type: other_identity
                  attributes:
                    uid: '12345'
                    email: josh@orbit.love
                    username: dzello1
                    name: Josh
                    source: twitch
                    source_host: twitch.tv
                    profile_url: null
                    url: http://web.archive.org/web/20240303060821/https://twitch.tv/dzello1
        '422':
          description: identity is invalid
          content:
            application/json:
              example:
                errors:
                  identity_id:
                  - has already been taken
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity'
    delete:
      summary: Remove identity from a member
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: identity deleted
        '422':
          description: identity is invalid or not attached to member
          content:
            application/json:
              example:
                errors:
                  identity:
                  - is not attached to this member
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity'
  /{workspace_slug}/members:
    get:
      summary: List members in a workspace
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: affiliation
        in: query
        schema:
          type: string
          enum:
          - member
          - teammate
      - name: member_tags
        in: query
        description: The list of tags to filter against. Separate tags with `,` to do an intersection (AND), or with `|` to do a union (OR)
        schema:
          type: string
      - name: orbit
        in: query
        description: The list of orbit levels to filter against. Accepted values are 1, 2, 3, 4, n. In the request, a format like `23` would include levels 2 and 3. `n` is for members with no orbit level.
        schema:
          type: string
      - name: activity_type
        in: query
        schema:
          type: string
          enum:
          - issue_comment:created
          - pull_requests:opened
          - pull_requests:merged
          - fork:created
          - star:created
          - discussions:discussion_created
          - discussions:comment
          - discussions:reply
          - discord:message:sent
          - tweet:sent
          - twitter:followed
          - discord:thread:replied
          - discord:message:replied
          - discord:server:joined
          - discourse:topic:created
          - discourse:post:created
          - discourse:post:liked
          - discourse:user:created
          - discord:forum:post_created
          - slack:message:sent
          - slack:thread:replied
          - slack:channel:joined
          - custom:happened
          - dev:comment
          - dev:followed
          - insided:article:created
          - insided:article:replied
          - insided:conversation:started
          - insided:conversation:replied
          - insided:idea:replied
          - insided:question:asked
          - insided:idea:submitted
          - linkedin:comment
          - reddit:comment
          - insided:question:replied
          - reddit:post
          - stackoverflow:answer
          - stackoverflow:question
          - youtube:comment
          - note:created
          - post:created
          - issues:opened
        description: Comma separated list of activity types
      - name: identity
        in: query
        schema:
          type: string
          enum:
          - github
          - twitter
          - email
          - discourse
          - linkedin
          - devto
          - slack
          - discord
      - name: company[]
        in: query
        description: Comma separated list of companies. The union (OR) of companies is applied.
        schema:
          type: string
      - name: title[]
        in: query
        description: Comma separated list of job titles. The union (OR) of job titles is applied.
        schema:
          type: string
      - name: regions[]
        in: query
        description: Comma separated list of regions. The union (OR) of regions is applied.
        schema:
          type: string
      - name: countries[]
        in: query
        description: Comma separated list of countries. The union (OR) of countries is applied.
        schema:
          type: string
      - name: cities[]
        in: query
        description: Comma separated list of cities. The union (OR) of cities is applied.
        schema:
          type: string
      - name: start_date
        in: query
        description: 'Filter activities after this date. Format: YYYY-MM-DD.'
        schema:
          type: string
      - name: end_date
        in: query
        description: 'Filter activities before this date. Format: YYYY-MM-DD.'
        schema:
          type: string
      - name: relative
        in: query
        description: 'Relative timeframes. Format: this_<integer>_<period>, with period in [days, weeks, months, years]. For example, this_30_days.'
        schema:
          type: string
      - name: query
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: items
        in: query
        schema:
          type: string
          enum:
          - '10'
          - '50'
          - '100'
      - name: activities_count_min
        in: query
        schema:
          type: string
      - name: activities_count_max
        in: query
        schema:
          type: string
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - activities_count
          - company
          - created_at
          - first_activity
          - github_followers
          - id
          - last_activity
          - location
          - love
          - name
          - orbit
          - reach
          - title
          - twitter_followers
          - updated_at
      - name: type
        in: query
        deprecated: true
        description: Deprecated in favor of the activity_type parameter.
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: jaPSJy
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: PuraRutherford
                    title: null
                    created_at: '2023-06-21T14:54:15.875Z'
                    deleted_at: null
                    location: null
                    name: Sally
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: sally
                    source: installation
                    tag_list:
                    - ruby
                    tags:
                    - ruby
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:15.883Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/herschelmosciskidvm/members/sally
                    created: false
                    id: jaPSJy
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: '2023-06-19T14:54:15.967Z'
                    last_activity_occurred_at: '2023-06-21T13:54:15.993Z'
                    activities_count: 2
                    activities_score: 2.0
                    twitter: null
                    github: null
                    discourse: null
                    email: null
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: 5geTxn
                        type: spec_identity
                    organizations:
                      data:
                      - id: aWQFAB
                        type: organization
                - id: 4EzSdZ
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    title: null
                    created_at: '2023-06-21T14:54:15.858Z'
                    deleted_at: null
                    location: null
                    name: Josh
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: josh
                    source: installation
                    tag_list:
                    - ruby
                    tags:
                    - ruby
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:15.866Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/herschelmosciskidvm/members/josh
                    created: false
                    id: 4EzSdZ
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: '2023-06-13T14:54:15.945Z'
                    last_activity_occurred_at: '2023-06-17T14:54:15.888Z'
                    activities_count: 3
                    activities_score: 3.0
                    twitter: null
                    github: null
                    discourse: null
                    email: null
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: nbWTe1
                        type: spec_identity
                    organizations:
                      data: []
                included:
                - id: '43'
                  type: spec_identity
                - id: aWQFAB
                  type: organization
                  attributes:
                    id: aWQFAB
                    name: PuraRutherford
                    website: example-1.com
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:16.047Z'
                    updated_at: '2023-06-21T14:54:16.047Z'
                    lifecycle_stage: null
                    deal_closed_date: null
                    price_plan: null
                    crm_uid: null
                    crm_url: null
                    owner_name: null
                    owner_email: null
                    source: null
                - id: '42'
                  type: spec_identity
                links:
                  first: http://web.archive.org/web/20240303060821/http://localhost:3000/api/v1/herschelmosciskidvm/members?activities_count_max=99&activities_count_min=1&activity_type=type%3Anew%2Cspec%3Aactivity&affiliation=&cities%5B%5D=&company%5B%5D=&countries%5B%5D=&direction=DESC&end_date=&identity=&items=10&member_tags=ruby%7Crails%2C-go&orbit=&page=1&query=&regions%5B%5D=&relative=&sort=last_activity&start_date=&title%5B%5D=&workspace=herschelmosciskidvm
                  prev: null
                  next: null
    post:
      summary: Create or update a member
      tags:
      - Members
      description: This method is useful when you know a member's identity in another system and want to create or update the corresponding Orbit member. Identities can be specified in the identity object or member attributes like member.github. If no member exists, a new member will be created and linked to any provided identities.
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: created
          content:
            application/json:
              example:
                data:
                  id: 40mSvV
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/https://avatars2.githubusercontent.com/u/174777?u=79e423dd07c19122115f52a1c97727ca193e6253&v=4
                    bio: Co-founder & CTO @orbit-love · Developer Advocate · formerly @algolia and @keen
                    birthday: null
                    company: Orbit
                    title: null
                    created_at: '2023-06-21T14:54:25.770Z'
                    deleted_at: null
                    location: Paris
                    name: Josh Dzielak
                    pronouns: null
                    reach: 8
                    shipping_address: null
                    slug: dzello
                    source: api
                    tag_list:
                    - one
                    - two
                    tags:
                    - one
                    - two
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:25.848Z'
                    merged_at: null
                    url: http://web.archive.org/web/20240303060821/https://dzello.com/
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/msvirgilkoss/members/dzello
                    created: true
                    id: 40mSvV
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: null
                    last_activity_occurred_at: null
                    activities_count: 0
                    activities_score: 0
                    twitter: dzello
                    github: dzello
                    discourse: null
                    email: josh@orbit.love
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: 171
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: 1ADTwV
                        type: github_identity
                      - id: 3RgTbZ
                        type: twitter_identity
                      - id: 3YETyv
                        type: email_identity
                    organizations:
                      data:
                      - id: n9WF2V
                        type: organization
                included:
                - id: 1ADTwV
                  type: github_identity
                  attributes:
                    uid: '174777'
                    email: null
                    username: dzello
                    name: Josh Dzielak
                    source: github
                    source_host: github.com
                    profile_url: http://web.archive.org/web/20240303060821/https://github.com/dzello
                    url: null
                - id: 3RgTbZ
                  type: twitter_identity
                  attributes:
                    uid: null
                    email: null
                    username: dzello
                    name: null
                    source: twitter
                    source_host: twitter.com
                    profile_url: http://web.archive.org/web/20240303060821/https://twitter.com/dzello
                    url: null
                - id: 3YETyv
                  type: email_identity
                  attributes:
                    uid: josh@orbit.love
                    email: josh@orbit.love
                    username: null
                    name: josh
                    source: email
                    source_host: email.host
                    profile_url: mailto:josh@orbit.love
                    url: null
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                  id: 4ndS8E
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    title: null
                    created_at: '2023-06-21T14:54:26.095Z'
                    deleted_at: null
                    location: null
                    name: LissetteMoen
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: lissettemoen
                    source: installation
                    tag_list:
                    - one
                    - two
                    tags:
                    - one
                    - two
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:26.173Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/gerrywalkersr/members/lissettemoen
                    created: false
                    id: 4ndS8E
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: null
                    last_activity_occurred_at: null
                    activities_count: 0
                    activities_score: 0
                    twitter: dzello
                    github: dzello
                    discourse: null
                    email: dzello@orbit.love
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: 5ENTeK
                        type: github_identity
                      - id: nZRTEp
                        type: twitter_identity
                      - id: nqaT7d
                        type: email_identity
                    organizations:
                      data: []
                included:
                - id: 5ENTeK
                  type: github_identity
                  attributes:
                    uid: uid-72
                    email: null
                    username: dzello
                    name: null
                    source: github
                    source_host: github.com
                    profile_url: http://web.archive.org/web/20240303060821/https://github.com/dzello
                    url: null
                - id: nZRTEp
                  type: twitter_identity
                  attributes:
                    uid: null
                    email: null
                    username: dzello
                    name: null
                    source: twitter
                    source_host: twitter.com
                    profile_url: http://web.archive.org/web/20240303060821/https://twitter.com/dzello
                    url: null
                - id: nqaT7d
                  type: email_identity
                  attributes:
                    uid: dzello@orbit.love
                    email: dzello@orbit.love
                    username: null
                    name: dzello
                    source: email
                    source_host: email.host
                    profile_url: mailto:dzello@orbit.love
                    url: null
        '422':
          description: unprocessable
          content:
            application/json:
              example:
                errors:
                  email:
                  - is invalid
                  name:
                  - can't be blank
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/member_and_identity'
  /{workspace_slug}/members/{member_slug}:
    get:
      summary: Get a member
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                  id: jWXSAW
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: LindyOrn
                    title: null
                    created_at: '2023-06-21T14:54:22.753Z'
                    deleted_at: null
                    location: null
                    name: Josh
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: josh
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:22.753Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/ezekielwalshdds/members/josh
                    created: false
                    id: jWXSAW
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: null
                    last_activity_occurred_at: null
                    activities_count: 0
                    activities_score: 0
                    twitter: null
                    github: null
                    discourse: null
                    email: null
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: nZRTEE
                        type: spec_identity
                    organizations:
                      data:
                      - id: BqkFva
                        type: organization
                included:
                - id: '90'
                  type: spec_identity
                - id: BqkFva
                  type: organization
                  attributes:
                    id: BqkFva
                    name: LindyOrn
                    website: example-25.com
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:22.773Z'
                    updated_at: '2023-06-21T14:54:22.773Z'
                    lifecycle_stage: null
                    deal_closed_date: null
                    price_plan: null
                    crm_uid: null
                    crm_url: null
                    owner_name: null
                    owner_email: null
                    source: null
    put:
      summary: Update a member
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: member updated
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/member'
    delete:
      summary: Delete a member
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: member deleted
        '403':
          description: forbidden
  /{workspace_slug}/members/find:
    get:
      summary: Find a member by an identity
      tags:
      - Members
      description: Provide a source and one of username/uid/email params to return a member with that identity, if one exists. Common values for source include github, twitter, and email.
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
      - name: source_host
        in: query
        schema:
          type: string
      - name: uid
        in: query
        schema:
          type: string
      - name: username
        in: query
        schema:
          type: string
      - name: email
        in: query
        schema:
          type: string
      - name: github
        in: query
        description: Deprecated, please use source=github and username=<username> instead
        schema:
          type: string
      responses:
        '404':
          description: Not found
          content:
            application/json:
              example:
                errors: No member matching this identity was found
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                  id: rRxS6X
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: orbit
                    title: null
                    created_at: '2023-06-21T14:54:36.087Z'
                    deleted_at: null
                    location: null
                    name: StanOConnerSr
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: stanoconnersr
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:36.087Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/jonaslindmd/members/stanoconnersr
                    created: false
                    id: rRxS6X
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: null
                    last_activity_occurred_at: null
                    activities_count: 0
                    activities_score: 0
                    twitter: null
                    github: dzello
                    discourse: null
                    email: null
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data:
                      - id: 1JrTad
                        type: github_identity
                    organizations:
                      data:
                      - id: nb0FmD
                        type: organization
                included:
                - id: 1JrTad
                  type: github_identity
                  attributes:
                    uid: uid-82
                    email: null
                    username: dzello
                    name: null
                    source: github
                    source_host: github.com
                    profile_url: http://web.archive.org/web/20240303060821/https://github.com/dzello
                    url: null
                - id: nb0FmD
                  type: organization
                  attributes:
                    id: nb0FmD
                    name: orbit
                    website: orbit.love
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:36.110Z'
                    updated_at: '2023-06-21T14:54:36.110Z'
                    lifecycle_stage: null
                    deal_closed_date: null
                    price_plan: null
                    crm_uid: null
                    crm_url: null
                    owner_name: null
                    owner_email: null
                    source: null
  /{workspace_slug}/organizations/{organization_id}/members:
    get:
      summary: List members in an organization
      tags:
      - Members
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: items
        in: query
        schema:
          type: string
          enum:
          - '10'
          - '50'
          - '100'
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: jPESdn
                  type: member
                  attributes:
                    id: jPESdn
                    slug: jane-smith
                    name: Jane Smith
                    last_activity_occurred_at: null
                    activities_score: 0
                  relationships: {}
                - id: jYbS8E
                  type: member
                  attributes:
                    id: jYbS8E
                    slug: john-doe
                    name: John Doe
                    last_activity_occurred_at: null
                    activities_score: 0
                  relationships: {}
                links:
                  first: /mrfernjohns/organizations/BqkFkv/members?page=1&items=10
                  last: /mrfernjohns/organizations/BqkFkv/members?page=1&items=10
                  prev: null
                  next: null
components:
  schemas:
    member:
      type: object
      properties:
        bio:
          type: string
        birthday:
          type: string
        company:
          type: string
        title:
          type: string
        location:
          type: string
        name:
          type: string
        pronouns:
          type: string
        shipping_address:
          type: string
        slug:
          type: string
        tags_to_add:
          type: string
          description: Adds tags to member; comma-separated string or array
        tags:
          type: string
          description: Replaces all tags for the member; comma-separated string or array
        tag_list:
          type: string
          description: 'Deprecated: Please use the tags attribute instead'
        tshirt:
          type: string
        teammate:
          type: boolean
        url:
          type: string
        github:
          type: string
          description: The member's GitHub username
        twitter:
          type: string
          description: The member's Twitter username
        email:
          type: string
          description: The member's email
        linkedin:
          type: string
          description: The member's LinkedIn username, without the in/ or pub/
        devto:
          type: string
          description: The member's DEV username
    member_and_identity:
      type: object
      properties:
        member:
          $ref: '#/components/schemas/member'
        identity:
          $ref: '#/components/schemas/identity'
    identity:
      type: object
      description: Represents an email address, a profile on networks like github and twitter, or a record in another system.
      properties:
        name:
          type: string
          description: The name of the person in the source system
        source:
          type: string
          description: 'The type of source: known values include github, twitter, discourse, email, linkedin, devto. Custom values can also be used'
        source_host:
          type: string
          description: Specifies the location of the source, such as the host of a Discourse instance
        username:
          type: string
          description: The username of the person in the source system
        uid:
          type: string
          description: The uid of the person in the source system
        email:
          type: string
          description: The email of the person in the source system
        url:
          type: string
          description: For custom identities, an optional link to the profile on the source system
      required:
      - source
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
    api_key:
      type: apiKey
      name: api_key
      in: query
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
