openapi: 3.0.1
info:
  title: Orbit Activities Webhooks API
  version: v1
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
servers:
- url: http://web.archive.org/web/20240303060821/https://app.orbit.love/api/v1
tags:
- name: Webhooks
paths:
  /{workspace_slug}/webhooks:
    get:
      summary: List webhooks in a workspace
      tags:
      - Webhooks
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: 6qyFL6
                  type: webhook
                  attributes:
                    name: My Test Webhook
                    enabled: true
                    updated_at: '2023-06-21T14:54:45.434Z'
                    created_at: '2023-06-21T14:54:45.434Z'
                    event_type: activity:created
                    url: http://web.archive.org/web/20240303060821/https://example.com/hook
                    activity_types: []
                    activity_tags: []
                    member_tags: []
                    activity_keywords: []
                    include_teammates: false
                links:
                  first: /fake-workspace/webhooks?page=1
                  last: /fake-workspace/webhooks?page=1
                  prev: null
                  next: null
    post:
      summary: Create a webhook
      tags:
      - Webhooks
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: webhook created
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook_subscription'
  /{workspace_slug}/webhooks/{id}:
    get:
      summary: Get a webhook
      tags:
      - Webhooks
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                  id: 6ZbFM6
                  type: webhook
                  attributes:
                    name: My Test Webhook
                    enabled: true
                    updated_at: '2023-06-21T14:54:45.849Z'
                    created_at: '2023-06-21T14:54:45.849Z'
                    event_type: activity:created
                    url: http://web.archive.org/web/20240303060821/https://example.com/hook
                    activity_types: []
                    activity_tags: []
                    member_tags: []
                    activity_keywords: []
                    include_teammates: false
    put:
      summary: Update a webhook
      tags:
      - Webhooks
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: webhook updated
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/webhook_subscription'
    delete:
      summary: Delete a webhook
      tags:
      - Webhooks
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: webhook deleted
        '403':
          description: forbidden
components:
  schemas:
    webhook_subscription:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        secret:
          type: string
        event_type:
          type: string
        activity_types:
          type: array
          items:
            type: string
        activity_tags:
          type: array
          items:
            type: string
        member_tags:
          type: array
          items:
            type: string
      required:
      - name
      - event_type
      - url
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
    api_key:
      type: apiKey
      name: api_key
      in: query
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
