openapi: 3.0.1
info:
  title: Orbit Activities Organizations API
  version: v1
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
servers:
- url: http://web.archive.org/web/20240303060821/https://app.orbit.love/api/v1
tags:
- name: Organizations
paths:
  /{workspace_slug}/organizations:
    get:
      summary: List organizations in a workspace
      tags:
      - Organizations
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: query
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      - name: direction
        in: query
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: items
        in: query
        schema:
          type: string
          enum:
          - '10'
          - '50'
          - '100'
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - website
          - members_count
          - employees_count
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: n5ZF98
                  type: organization
                  attributes:
                    id: n5ZF98
                    name: Organization2
                    website: org2.example.com
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:41.767Z'
                    updated_at: '2023-06-21T14:54:41.767Z'
                    lifecycle_stage: null
                    deal_closed_date: null
                    price_plan: null
                    crm_uid: null
                    crm_url: null
                    owner_name: null
                    owner_email: null
                    source: null
                - id: V02F9A
                  type: organization
                  attributes:
                    id: V02F9A
                    name: Organization1
                    website: org1.example.com
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:41.746Z'
                    updated_at: '2023-06-21T14:54:41.746Z'
                    lifecycle_stage: customer
                    deal_closed_date: '2023-06-21T14:54:41.805Z'
                    price_plan: Enterprise
                    crm_uid: abcde123451
                    crm_url: http://web.archive.org/web/20240303060821/https://example.com/1
                    owner_name: John Toto
                    owner_email: john.toto@example.com
                    source: Fake CRM
                links:
                  first: http://web.archive.org/web/20240303060821/http://localhost:3000/api/v1/dorindaabshire/organizations?direction=DESC&items=10&page=1&query=&sort=name&workspace=dorindaabshire
                  prev: null
                  next: null
  /{workspace_slug}/organizations/{organization_id}:
    get:
      summary: Get an organization
      tags:
      - Organizations
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                  id: aWQFlA
                  type: organization
                  attributes:
                    id: aWQFlA
                    name: Organization1
                    website: example-47.com
                    logo_url: null
                    members_count: 1
                    employees_count: null
                    organization_type: null
                    industry: null
                    estimated_annual_revenue: null
                    founded_in: null
                    location: null
                    twitter: null
                    twitter_followers: null
                    facebook: null
                    facebook_followers: null
                    linkedin: null
                    crunchbase: null
                    email_addresses: null
                    last_active: null
                    active_since: null
                    created_at: '2023-06-21T14:54:42.605Z'
                    updated_at: '2023-06-21T14:54:42.605Z'
                    lifecycle_stage: null
                    deal_closed_date: null
                    price_plan: null
                    crm_uid: null
                    crm_url: null
                    owner_name: null
                    owner_email: null
                    source: null
    put:
      summary: Update an organization
      tags:
      - Organizations
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: organization updated
        '422':
          description: deal_closed_date is invalid
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/organization'
components:
  schemas:
    organization:
      type: object
      properties:
        lifecycle_stage:
          type: string
          description: The current stage of the organization in the marketing or sales process.
        deal_closed_date:
          type: string
          description: The date the organization became a customer.
        price_plan:
          type: string
          description: The pricing plan the organization is on.
        crm_uid:
          type: string
          description: The unique identifier of the organization in your CRM.
        crm_url:
          type: string
          description: A link to the organization profile in your CRM.
        owner_name:
          type: string
          description: The name of the team member who is in charge of the organization.
        owner_email:
          type: string
          description: The email of the team member who is in charge of the organization.
        source:
          type: string
          description: The name of the CRM you use for tracking the organization.
      required:
      - lifecycle_stage
      - crm_url
      - source
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
    api_key:
      type: apiKey
      name: api_key
      in: query
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
