openapi: 3.0.1
info:
  title: Orbit Activities Activity Types API
  version: v1
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
servers:
- url: http://web.archive.org/web/20240303060821/https://app.orbit.love/api/v1
tags:
- name: Activity Types
paths:
  /{workspace_slug}/activity_types:
    get:
      summary: List all activity types for a workspace
      tags:
      - Activity Types
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: 5Gds1O
                  type: activity_type
                  attributes:
                    name: Created content
                    short_name: Content created
                    key: post:created
                    channel: content
                    source: content
                    weight: '1.0'
                - id: DOnsmL
                  type: activity_type
                  attributes:
                    name: Activated their account on product
                    short_name: Activated account
                    key: activated_account
                    channel: product
                    source: product
                    weight: '6.0'
                links:
                  first: /alejandrawehner/activity_types?page=1
                  last: /alejandrawehner/activity_types?page=1
                  prev: null
                  next: null
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
    api_key:
      type: apiKey
      name: api_key
      in: query
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
