openapi: 3.0.1
info:
  title: Orbit Activities Notes API
  version: v1
  description: Please see the complete Orbit API documentation at [https://api.orbit.love/](https://api.orbit.love/).
servers:
- url: http://web.archive.org/web/20240303060821/https://app.orbit.love/api/v1
tags:
- name: Notes
paths:
  /{workspace_slug}/members/{member_slug}/notes:
    post:
      summary: Create a note
      tags:
      - Notes
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: note created
          content:
            application/json:
              example:
                data:
                  id: qR4fVo
                  type: note
                  attributes:
                    id: qR4fVo
                    created_at: '2023-06-21T14:54:15.114Z'
                    body: heyo
                    updated_at: '2023-06-21T14:54:15.114Z'
                  relationships:
                    member:
                      data:
                        id: jDdSYG
                        type: member
                    user:
                      data:
                        id: ZgeFNz
                        type: user
        '403':
          description: forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
    get:
      summary: Get the member's notes
      tags:
      - Notes
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              example:
                data:
                - id: o5Nf2J
                  type: note
                  attributes:
                    id: o5Nf2J
                    created_at: '2023-06-21T14:54:15.417Z'
                    body: heyo
                    updated_at: '2023-06-21T14:54:15.417Z'
                  relationships:
                    member:
                      data:
                        id: jPESm8
                        type: member
                    user:
                      data:
                        id: lqAFn8
                        type: user
                included:
                - id: jPESm8
                  type: member
                  attributes:
                    avatar_url: http://web.archive.org/web/20240303060821/http://github.com/avatar.png
                    bio: null
                    birthday: null
                    company: null
                    title: null
                    created_at: '2023-06-21T14:54:15.397Z'
                    deleted_at: null
                    location: null
                    name: MsKirkKemmer
                    pronouns: null
                    reach: 0
                    shipping_address: null
                    slug: mskirkkemmer
                    source: installation
                    tag_list: []
                    tags: []
                    teammate: false
                    tshirt: null
                    updated_at: '2023-06-21T14:54:15.397Z'
                    merged_at: null
                    url: null
                    orbit_url: http://web.archive.org/web/20240303060821/http://localhost:3000/mariahturner/members/mskirkkemmer
                    created: false
                    id: jPESm8
                    orbit_level: null
                    love: null
                    first_activity_occurred_at: null
                    last_activity_occurred_at: null
                    activities_count: 0
                    activities_score: 0
                    twitter: null
                    github: null
                    discourse: null
                    email: null
                    devto: null
                    linkedin: null
                    discord: null
                    github_followers: null
                    twitter_followers: null
                    topics: null
                    languages: null
                  relationships:
                    identities:
                      data: []
                    organizations:
                      data: []
                - id: lqAFn8
                  type: user
                  attributes:
                    name: TristanBreitenberg
                    updated_at: '2023-06-21T14:54:15.415Z'
                    created_at: '2023-06-21T14:54:15.409Z'
                links:
                  first: /mariahturner/members/mskirkkemmer/notes?page=1
                  last: /mariahturner/members/mskirkkemmer/notes?page=1
                  prev: null
                  next: null
  /{workspace_slug}/members/{member_slug}/notes/{id}:
    put:
      summary: Update a note
      tags:
      - Notes
      security:
      - bearer: []
      parameters:
      - name: workspace_slug
        in: path
        required: true
        schema:
          type: string
      - name: member_slug
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: note updated
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/note'
components:
  schemas:
    note:
      type: object
      properties:
        body:
          type: string
      required:
      - body
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      description: Provide a Authorization header with format 'Bearer <api_key>'. This is the recommended approach. Make sure to include the 'Bearer' part in the text box here.
    api_key:
      type: apiKey
      name: api_key
      in: query
      description: Provide the API key in a query param called api_key. This is the least secure method, please use only for testing.
